// SITEWIDE VARIABLES
// *************************

// Brand colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$brand_primary: #012169;
$brand_secondary: lighten($brand_primary, 10%);
$brand_neutral: #CBC4BC;
$brand_accent: #a3be8c;

// Generic colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$color_white: #fff;
$color_ltgray: #f4f4f4;
$color_mdgray: #efefef;
$color_dkgray: #333;
$color_black: #111;

// Social media colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$color_facebook: #365397;
$color_twitter: #00a9f1;
$color_google_plus: #e0452c;
$color_linkedin: #006db3;
$color_skype: #12A5F4;
$color_sharethis: #01BF01;

// Background colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$color_background_body: #fff;
$color_background_header: rgba(255,255,255,0.95);
$color_background_hero: #ddd;
$color_background_strapline: #f4f4f4;
$color_background_featured: #e9e9e9;
$color_background_blog: #fff;
$color_background_footer: #f4f4f4;
$color_background_prefooter: #e1e1e1;
$color_background_lightgray: #e4e4e4;
$color_background_darkgray: #333;
$color_background_screen: #f1f1f1;
$color_background_hr: #eee;
$color_background_pre: #eee;
$color_background_ins: #fff9c0;
$color_background-callout: rgba(244,244,244,0.9);
$color_hero_overlay: rgba(0,0,0,0.6);

// Navigation colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$color_text_nav: $brand_primary;

// Text colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$color_text_main: #404040;
$color_text_screen: #21759b;
$color_link: $brand_primary;

// Button colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$button_color_background: $brand_primary;
$button_color_text: $color_text_main;
$button_color_border: #c0c5ce;

// Fonts
// Currently the font files are located in assets/fonts, feel free to update as needed
// Default is Montserrat Light, a nice sans-serif font family
//––––––––––––––––––––––––––––––––––––––––––––––––––
$font_main: 'montserratlight', sans-serif;
$font_headings: 'montserratlight', sans-serif;
// $font_main: 'robotoregular', sans-serif; // uncomment in base/fonts.scss
// $font_headings: 'robotobold', sans-serif; // uncomment in base/fonts.scss
// $font_main: 'roboto_slabregular', serif; // If you prefer serif typefaces,
// $font_headings: 'roboto_slabbold', serif; // Roboto Slab is included for a quick A/B test
$font_code: 'Source Code Pro', Monaco, Consolas, monospace;
$font_pre: 'Source Code Pro', Monaco, Consolas, monospace;
$font_weight_main: 400;
$font_weight_headings: 400;
$font_weight_pre: 400;
$font_line_height_body: 1.8;
$font_line_height_headings: 1.2;
$font_line_height_forms: 40px;
$font_line_height_pre: 1.6;

// Global font size base from which all type sizes are calculated
// HTML set to 62.5% so REM measurements based on 10px - basically 1.5rem = 15px
//––––––––––––––––––––––––––––––––––––––––––––––––––
$font_size_base: 10;
$font_size_rem: 1.0rem;

// Grid and layout variables for site structure
//––––––––––––––––––––––––––––––––––––––––––––––––––
$size_site_main: 100%; 
$size_site_sidebar: 33.333333%; 
$size_site_sidebar_desktop: 25%; 
$total_columns: 12; // number of columns in grid
$column_margin: 20px; // gutter between columns calculated in grid

// Responsive breakpoints for mixins
//––––––––––––––––––––––––––––––––––––––––––––––––––
$width_mobile: 480px;
$width_phablet: 640px;
$width_tablet: 800px;
$width_laptop: 1000px;
$width_desktop: 1200px;
$width_hdtv: 1600px;
$hidden_mobile: $width_phablet - 1px;
$hidden_phablet: $width_tablet - 1px;
$wordpress_admin: 783px;

// Transition duration for hover/toggle effects
//––––––––––––––––––––––––––––––––––––––––––––––––––
$transistion_duration: 0.3s;

// Border radius for buttons and other elements
//––––––––––––––––––––––––––––––––––––––––––––––––––
$border_radius: 4px;
$border_thickness: 1px;

// Scroll-to-top button, size is calculated using the formula d = a * √2
//––––––––––––––––––––––––––––––––––––––––––––––––––
$chevronWidth: 10px; // width of chevron, can be whatever
$borderWidth: $chevronWidth / 4; // width of borders based on chevron size
$squareRoot: 1.41421356237; // square root of 2 used for getting chevron diagonal width
$scrollUpButtonSize: $chevronWidth * $squareRoot; // calculates diagonal of chevron

// Header variables - height, margin, WP admin offset, and internal anchor link offset
//––––––––––––––––––––––––––––––––––––––––––––––––––
$header_height: 60px;
$wp_adminbar_sm: 46px;
$wp_adminbar_lg: 32px;

// Offset internal page anchors to account for top nav
//––––––––––––––––––––––––––––––––––––––––––––––––––
$anchor_offset: $header_height + $column_margin;
$anchor_offset_admin: $header_height + ($column_margin * 3);

// Line height and nav toggle sizes for submenus
//––––––––––––––––––––––––––––––––––––––––––––––––––
$font_line_height_nav: 40px;
$font_subnav_toggle_size: $font_line_height_nav / 6;

// Inset/drop shadow color and size
//––––––––––––––––––––––––––––––––––––––––––––––––––
$shadow-inset: rgba(0,0,0,0.2);
$shadow-outer: rgba(0,0,0,0.1);
$shadow-size: 10px;

// Custom logo size for login screen
//––––––––––––––––––––––––––––––––––––––––––––––––––
$loginLogoHeight: 80px;
$loginLogoWidth: 260px;

// Form icon parameters for select and search inputs
//––––––––––––––––––––––––––––––––––––––––––––––––––
$color_input_icons: 404040; // Icon fill color, leave # out for proper URL encoding
$size_input_icon_search: 18px; // Magnifying glass for search field
$size_input_icon_select: 24px; // Chevron for select box

// Color scheme for code blocks
// BASE16 THEMES: https://chriskempson.github.io/base16/
//––––––––––––––––––––––––––––––––––––––––––––––––––
$base00: #2b303b; // black
$base01: #343d46; // darkest gray
$base02: #4f5b66; // darker gray
$base03: #65737e; // dark gray
$base04: #a7adba; // medium gray
$base05: #c0c5ce; // light gray
$base06: #dfe1e8; // lighter gray
$base07: #eff1f5; // white
$base08: #bf616a; // red
$base09: #d08770; // orange
$base0A: #ebcb8b; // yellow
$base0B: #a3be8c; // green
$base0C: #96b5b4; // blue
$base0D: #8fa1b3; // indigo
$base0E: #b48ead; // violet
$base0F: #ab7967; // brown

// Padding for code blocks
//––––––––––––––––––––––––––––––––––––––––––––––––––
$code_block_title: $column_margin * 2.4;
$code_block_padding: $column_margin * 1.2;
