// Button styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	text-align: center;
	display: inline-block;
	background-color: transparent;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	letter-spacing: .1rem;
	line-height: $font_line_height_forms;
	height: $font_line_height_forms + ($border_thickness * 2);
	padding: 0 $column_margin;
	font-weight: 300;
	margin-bottom: 1rem;
	@include font-size(1.4);
	color: $button_color_text;
	border-radius: $border_radius;
	border: $border_thickness solid $button_color_border;
	transition: $transistion_duration;
	
	&.lg {
		padding: 0 ($column_margin * 1.25);
		line-height: $font_line_height_forms * 1.25;
		height: ($font_line_height_forms + ($border_thickness * 2)) * 1.25;
	}

	&:visited {
		color: $button_color_text;
	}

	&:hover {
		color: darken($button_color_text, 10%);
		border-color: darken($button_color_border, 20%);
	}

	&:active,
	&:focus {
		border-color: darken($button_color_border, 40%);
	}
	
	.wpcf7-form &, // adds primary style to Contact Form 7 submit button
	&.button-primary {
		color: $color_white;
		background-color: $brand_primary;
		border-color: $brand_primary;

		&:hover {
			color: $color_white;
			background-color: darken($brand_primary, 10%);
			border-color: darken($brand_primary, 10%);
		}

		&:active,
		&:focus {
			color: $color_white;
			background-color: darken($brand_primary, 20%);
			border-color: darken($brand_primary, 20%);
		}
	}

	.call-to-action & { // makes buttons in hero area larger
		@extend .lg;
		margin-right: $column_margin;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.social-block & { // gives some spacing between social buttons
		margin-right: $column_margin / 2;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.more-link {
	@extend .button;
	// @extend .button-primary; // uncomment to look like .button-primary
	margin-bottom: 2rem;

	&:visited {
		color: $button_color_text;
		// color: $color_white; // uncomment to look like .button-primary
	}
}
