// Grid
//––––––––––––––––––––––––––––––––––––––––––––––––––
.container {
  position: relative;
  // box-sizing: border-box;
  width: $size_site_main;
  max-width: $size_site_main;
  padding: 0 $column_margin;
  margin: 0 auto;

  @include tablet {
    max-width: $width_tablet;
  }

  @include laptop {
    max-width: $width_laptop;
  }

  @include desktop {
    max-width: $width_desktop;
  }
}

.row {  
  margin-left: -$column_margin;
  margin-right: -$column_margin;
}

// default column width before responsive layout kicks in
.column {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding-left: $column_margin;
  padding-right: $column_margin;
}


// Grid calculations 
// divide $size_site_main by $total_columns & loop through breakpoints to create responsive grid
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Smallest devices
@for $column_width from 1 through $total_columns {
  .xs-#{$column_width} { 
    width: $size_site_main / $total_columns * $column_width;
  }
}

// Larger smartphones and small tablets
@include phablet {
  @for $column_width from 1 through $total_columns {
    .sm-#{$column_width} { 
      width: $size_site_main / $total_columns * $column_width;
    }
  }
}

// Tablets around iPad size
@include tablet {
  @for $column_width from 1 through $total_columns {
    .md-#{$column_width} { 
      width: $size_site_main / $total_columns * $column_width;
    }
  }
}

// Laptops and large tablets, also breakpoint for mobile nav
@include laptop {
  @for $column_width from 1 through $total_columns {
    .lg-#{$column_width} { 
      width: $size_site_main / $total_columns * $column_width;
    }
  }
}

// Desktop size and larger, uncomment if needed
// @include desktop {
//   @for $column_width from 1 through $total_columns {
//     .xl-#{$column_width} { 
//       width: $size_site_main / $total_columns * $column_width;
//     }
//   }
// }

// offests if you need them, just add relevant breakpoint
// @include desktop {
//   @for $column_width from 1 through $total_columns {
//     .offset-#{$column_width} { 
//       margin-left: $size_site_main / $total_columns * $column_width;
//     }
//   }
// }

// reset offset, add relevant breakpoint
// .reset { 
//   margin-left: 0;
// }

// makes wrap for main content area same width as grid columns
//––––––––––––––––––––––––––––––––––––––––––––––––––
.site-content {
  @extend .container;
}

// Clearing
// The .container and .row classes are part of this grid layout, 
// so they have been put here rather than in clearings.scss.
//––––––––––––––––––––––––––––––––––––––––––––––––––
.container:after,
.row:after {
  @include clearfix;
  @include clearfix-after;
}
