// Hero
//––––––––––––––––––––––––––––––––––––––––––––––––––
.hero {
    position: relative;
    background-color: $color_background_hero;
    // background: linear-gradient($color_hero_overlay, $color_hero_overlay), url('./assets/img/hero.jpg'); // use this path if you're enqueing styles from root folder
    background: linear-gradient($color_hero_overlay, $color_hero_overlay), url('../img/hero.jpg'); // use this path if you're enqueing styles from assets/css
    min-height: 25rem;
    height: 25vh;

    border: none;    
    // border-bottom: 1px solid darken($color_background_header, 5%);
    
    text-align: left;
    
    @include bgImage;
    @include innerShadow;

    // @include tablet {
    //     height:20vh;
    // }

    // full-height header for homepage and single blog posts
    // .single &, 
    // .home & {
    //     min-height: 48rem;
    //     // height:100vh;
    //     height: calc(100vh - 60px); // 60px header height
    // }

    // // adjust for admin bar when logged in
    // // .home.single &,  
    // .home.admin-bar & {
    //     height: calc(100vh - 92px); // 32px admin bar + 60px header = 92px
    // }
}

.heading {
    position:absolute;
    top:55%;
    width:100%;
    transform: translate(0,-50%); // vertically center hero text

    // .single &, // single blog posts
    // .home & {
    //     transform: translate(0,-50%); // vertically center hero text
    // }
}

.call-to-action {
    position: relative;
    max-width: 560px;
    // z-index: 1;

    // background-color: $color_background-callout;
    // padding: 4rem 5rem;
    // border-radius: $border_radius;
    // @include dropShadow;
}
