.digitalscholarship-custom-thumbnail {
    max-width: 25%;
    height: auto;
    margin-bottom: 18px;
    border: 1px solid #cccccc;
    display: block;
    padding: 0;
}

.hide {
    display: none !important;
}

.btn-upload-img.button {
	margin-right: 15px;
}