
$menu_toggle_width: $header_height / 2; // width of button area
$menu_toggle_height: $header_height;       // height of button area
$menu_toggle_bar: 2px;                    // thickness of button bars
$menu_toggle_pad: 0;   // left/right padding between button area and bars.
$menu_toggle_bar_space: 7px;              // spacing between button bars
$menu_toggle_color: #fff;           // spacing between button bars
$menu_dismiss_color: #404040;



// menu-toggle
//––––––––––––––––––––––––––––––––––––––––––––––––––
button.menu-toggle {
  display: block;
  z-index: 20;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $menu_toggle_width;
  height: $menu_toggle_height;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  float: right;
  position: relative;
  // right: 1rem;
  // top: 1rem;
  background-color: transparent;
  // transition: background-color $transistion_duration;
  transition-delay: $transistion_duration;

  @include laptop {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  span {
    display: block;
    position: absolute;
    top: ($menu_toggle_height / 2) - ($menu_toggle_bar / 2);
    left: $menu_toggle_pad;
    right: $menu_toggle_pad;
    height: $menu_toggle_bar;
    background-color: $menu_toggle_color;
    transition-duration: $transistion_duration;
    transition-delay: $transistion_duration;

    &::before, 
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $menu_toggle_bar;
      background-color: $menu_toggle_color;
      content: "";
      transition-duration: $transistion_duration;
      transition-delay: $transistion_duration;
    }
    
    &::before {
      top: -$menu_toggle_bar - $menu_toggle_bar_space;
      transition-property: top, transform;
    }

    &::after {
      bottom: -$menu_toggle_bar - $menu_toggle_bar_space;
      transition-property: bottom, transform;
    }
  }
}









// side nav hamburger
button.menu-dismiss {
  display: block;
  z-index: 200;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $menu_toggle_width;
  height: $menu_toggle_height;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  float: right;
  position: absolute;
  right: $column_margin;
  top: 0;
  background-color: transparent;
  // transition: background-color $transistion_duration;
  transition-delay: $transistion_duration;

  @include laptop {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }
  
  &.is-active span {
    transform: rotate(-225deg);
  }

  &.is-active span::before {
    top: 0;
    transform: rotate(90deg);
  }

  &.is-active span::after {
    background-color: transparent;
    bottom: 0;
    transform: rotate(-0deg);
  }

  &.is-active span::before,
  &.is-active span::after {
    transition: $transistion_duration;
    transition-delay: $transistion_duration;
  }

  span {
    display: block;
    position: absolute;
    top: ($menu_toggle_height / 2) - ($menu_toggle_bar / 2);
    left: $menu_toggle_pad;
    right: $menu_toggle_pad;
    height: $menu_toggle_bar;
    background-color: $menu_dismiss_color;
    transition-duration: $transistion_duration;
    transition-delay: $transistion_duration;

    &::before, 
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $menu_toggle_bar;
      background-color: $menu_dismiss_color;
      content: "";
      transition-duration: $transistion_duration;
      transition-delay: $transistion_duration;
    }
    
    &::before {
      top: -$menu_toggle_bar - $menu_toggle_bar_space;
      transition-property: top, transform;
    }

    &::after {
      bottom: -$menu_toggle_bar - $menu_toggle_bar_space;
      transition-property: bottom, transform;
    }
  }
}


