// Side navigation 
// --------------------------------------------------
$sideNavWidth: 280px;
$sideNavDirection: (right);
// $sideNavBgColor: $color_background_header;
$sideNavBgColor: $color_white;
//––––––––––––––––––––––––––––––––––––––––––––––––––

// classes applied to the body to push content aside with menu
// uncomment if you prefer menu to float on top of content
// ---------------------------------------
// .site-wrap {
// 	position: relative;
// 	right: 0;
// 	overflow-x: hidden;
//     transition: all $transistion_duration ease;
//     #{$sideNavDirection}: 0;

// 	&.toggled {
// 		#{$sideNavDirection}: $sideNavWidth;

// 		@include laptop {
// 			#{$sideNavDirection}: 0;
// 		}
// 	}
// }




.main-navigation {
	clear: both;
	display: block;
	float: none;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	z-index: 100;

	// offset for being logged in to wp-adminn
	.admin-bar & {
		top: $wp_adminbar_sm;

		@include wpadmin {
			top: $wp_adminbar_lg;
		}

		@include laptop {
			top: 0;
		}
	}

	@include dropShadow;
	background: $sideNavBgColor;

	@include laptop {
		background-color: transparent;
	}

	transition: $sideNavDirection $transistion_duration ease;
    width: $sideNavWidth;
    #{$sideNavDirection}: -$sideNavWidth;

	overflow-y: scroll;
	-webkit-overflow-scrolling:touch; // mobile safari

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

    &.toggled {
        #{$sideNavDirection}: 0px;
    }

    &:before {
    	display: block;
    	content: 'Main Menu';
    	line-height: $header_height;
    	padding: 0 $column_margin;
    }

	@include laptop {
		height: $header_height;
		overflow: visible;
		right: auto;
		position: relative;
		display: inline-block;
		float: right;
		width: auto;
		margin-right: -($column_margin / 2);
		box-shadow: none;

		&:before {
			display: none;
		}
	}

	ul {
		display: block; 
		list-style: none;
		margin: 0;
		padding-left: 0;
		position: relative;

		// css transition for menu toggle
		// max-height: 0;
		// overflow: hidden;
		// transition: max-height $transistion_duration 0s ease-in-out;

		ul {
			// background-color: darken($color_background_header, 5%);
			background-color: $color_background_header;
		}

		@include laptop {
			max-height: inherit;
			overflow: visible;

			ul {
				// box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				// top: $font_line_height_nav;
				top: $header_height;
				left: -999em;
				z-index: 99999;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					display: block; // makes li span full width of ul
					margin: 0;

					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					min-width: 100px;
					// width: 200px;
					line-height: $font_line_height_nav;
				}

				// :hover > a,
				// .focus > a {
				// }

				// a:hover,
				// a.focus {
				// }
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		// float: left;
		display: block;
		position: relative;
		border-top: 1px solid darken($color_background_header, 5%);
		margin: 0;

		@include laptop {
			&:hover > a,
			&.focus > a {
				// background-color: darken($color_background_header, 5%);
				color: darken($color_text_nav, 5%);
			}
		}

		// &:first-of-type {
		// 	margin-top: $column_margin;

		// 	@include laptop {
		// 		margin-top: 0;
		// 	}
		// }

		&:last-of-type {
			margin-bottom: $column_margin / 2;

			@include laptop {
				margin-bottom: 0;
			}
		}

		@include laptop {
			display: inline-block;
			border: none;

			// & + li {
			// 	margin-left: $column_margin / 2;
			// }
		}

		// &.active a {
		// 	background-color: darken($color_background_header, 5%);
		// }
	}

	a {
		display: block;
		text-decoration: none;
		line-height: $font_line_height_nav;
		transition: $transistion_duration;
		color: $color_text_nav;

		&:visited {
			color: $color_text_nav;
		}
		
		// padding: 0 ($column_margin / 1.5);

		padding: 0 0 0 $column_margin;

		@include laptop {
			line-height: $header_height;
			// padding: 0;
			padding: 0 ($column_margin / 2);
		}
	}
	
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: darken($color_text_nav, 15%);
	}
}



// Toggle button for sub-menu items
//––––––––––––––––––––––––––––––––––––––––––––––––––
.sub-nav-toggle {
	height: $font_line_height_nav;
	width: $font_line_height_nav;
	display: block;
	text-align: center;
	z-index: 200;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	// color: $color_white;
    text-indent: 100%;
    overflow: hidden;
	// background-color: $brand_primary;
	// transition: background-color $transistion_duration;
	transition: $transistion_duration;


	@include laptop {
		top: 50%;
		margin-top: -$font_line_height_nav / 4;
		height: $font_line_height_nav / 2;
		width: $font_line_height_nav / 2.222;
	}

    &:after{
		content: '';
		position: absolute;
		top: $font_subnav_toggle_size * 2.5;
		left: $font_subnav_toggle_size * 2;
		width: 0;
		height: 0;
		border: $font_subnav_toggle_size solid transparent;
		border-top-color: $color_text_nav;
		// border-top-color: $color_white;

		@include laptop {
			top: $font_subnav_toggle_size * 1.3;
			left: $font_subnav_toggle_size / 1.3;
			border-width: 4px;

			.sub-menu & {
				left: $font_subnav_toggle_size / .8;
				top: $font_line_height_nav / 6.4;
				transform: rotate(-90deg);
			}
		}
    }

	&.active {
		// background-color: darken($brand_primary, 10%);
		transform: rotate(-180deg);
		// background-color: darken($color_background_header, 10%);

		@include laptop {
			transform: rotate(0deg);
		}
	}

	// @include laptop {
	// 	.sub-menu & {
	// 		transform: rotate(-90deg);
	// 		top: $font_line_height_nav / 4;
	// 	}
	// }
}



// // Expanded mobile nav
// //––––––––––––––––––––––––––––––––––––––––––––––––––
// .main-navigation.toggled ul.nav-menu {
// 	max-height: 1000px; // css transition added on lines 26-28 of this file


// 	@include laptop {
// 		overflow: visible;
// 	}
// }



// Menu item with sub-menu
//––––––––––––––––––––––––––––––––––––––––––––––––––
.menu-item-has-children > a {
	padding-right: $font_line_height_nav;

	@include laptop {
		padding-right: $font_line_height_nav / 2.222;
	}
}



// Mobile nav sub-menu
//––––––––––––––––––––––––––––––––––––––––––––––––––
.sub-menu {
	max-height: 0;
	transition: max-height $transistion_duration 0s ease-in-out;
	overflow: hidden;

	&.active {
		max-height: 1000px;
	}

	li {
		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	a {
		white-space: nowrap;
	}
}
