body,
button,
input,
select,
optgroup,
textarea {
	color: $color_text_main;
	font-family: $font_main;
	font-weight: $font_weight_main;
	line-height: $font_line_height_body;
	@include font-size(1.6);
}
